* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}
/*SHUTTER*/
.shutter_up {
  height: 100vh;
}
/*SHUTTER HEADER*/
.shutter_header {
  height: 100vh;
  background: url(./assets/photo-art.jpg);
  background-size: cover;
  background-position: left;
  position: relative;
}
.wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid yellow;
}

.scroll {
  background: #00539cff;
  color: #fff;
  padding: 5px;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border: none;
}

.shutter_header h1 {
  font-size: 1.5rem;
  padding: 5px 10px;
}
.shutter_header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.shutter_header li {
  padding: 10px 50px 0 140px;
}
.shutter_header a {
  text-decoration: none;
  color: #000;
}
.shutter_header .content {
  padding: 300px 0;
  text-align: center;
  position: relative;
  z-index: 10;
}
.shutter_header .content h1 {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 10px;
}
.shutter_header .content p {
  margin: 10px;
}
.signUp {
  margin: 10px;
  padding: 5px 20px;
  background: #00539cff;
  border: 1px solid #00539cff;
  color: #fff;
}
/*SHUTTER CAMERA*/
.shutter_camera {
  padding: 40px;
}
.shutter_camera .content {
  text-align: center;
}
.shutter_camera .content h1 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 10px;
}
.shutter_camera .content p {
  margin: 10px 0 50px 0;
  font-size: 1rem;
  font-weight: 200;
}
.camera {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 30px;
}
.camera img {
  width: 100%;
}
/*SHUTTER CAROUSEL*/
.shutter_carousel {
  display: none;
}
/*SHUTTER PROVIDE*/
.provide {
  padding: 200px 50px;
}
.provide .content h1 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 10px;
  text-align: center;
}
.content > p {
  margin: 10px 0 200px 0;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}
.provide .offer {
  display: flex;
  justify-content: space-between;
}
.offer p {
  width: 400px;
  padding: 0 30px;
}
.offer .fas {
  color: #00539cff;
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin: 5px;
}
/*SHUTTER FORM*/
.shutter_form {
  text-align: center;
}
.shutter_form h1 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 10px;
  text-align: center;
}
.shutter_form p {
  margin: 10px 0 50px 0;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}
.form_input {
  padding: 70px;
}
input {
  width: 25%;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #000;
  font-family: "Consolas";
}
textarea {
  border: 1px solid #000;
  outline: none;
}
button {
  padding: 8px;
  border: 1px solid #00539cff;
  background: #00539cff;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
.creator {
  font-family: "Trebuchet MS", sans-serif;
  padding: 50px;
  font-weight: 100;
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 1px;
}
